
#title{
  display:flex;
  font-size:200%;
  flex-direction: column;
  align-items: center;
}

.titles{
  margin:0;
  padding:0;
}

.calculator {
  display:flex;
  /* width:60vw; */
  flex-direction: column;
  margin-top:2%;
  margin-left:25%;
  margin-right:25%;
  padding:30px;
  text-align: center;
  font-size:400%;
  justify-self: center;
  align-content: center;
  background-color:#5E6973;
  border-radius: 5%;
}

#display{
  border-radius:3%;
  height:100px;
  margin:40px;
  background-color: white;
  font-size:150%;
  display:flex;
  justify-content: flex-end;
}


.red{
  background-color:#6ABEA7;
  border-width: 5px;
}

.white{
  background-color:white;
  border-width: 5px;}

.button{
  width:80px;
  height:80px;
  margin:3px;
  border-radius: 10%;
  font-size:90%;
  justify-content: center;
  align-content: center;
}

/* #clear{
  font-size:40%;
} */